.title {
    text-align: center;
}

.mew-form {
    width: 50%;
    margin: 0 auto;
}

.loading {
    text-align: center;
    width: 50%;
    margin: 0 auto;
}

.mews {
    width: 80%;
    margin: 0 auto;
}